# 1. Unique Words in a Sentence

In [27]:
# Take input from user and split it and convert it into set
sentence=set(input().split())

print("Unique words count:", len(sentence))
print("Unique words:", sentence)

python is easy and python is powerful
Unique words count: 5
Unique words: {'is', 'python', 'easy', 'and', 'powerful'}

# 2. Highest Salary from Employee Data

In [28]:
# Create dict to store salary
employees={
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

# Set max salary to 0
max_salary=0
max_employee=""

for name,salary in employees.items():

  # Check if current salary is greater than max_salary
  if salary>max_salary:
    max_salary=salary
    max_employee=name

print("Highest Salary:", max_employee,"-",max_salary)

Highest Salary: Ravi - 75000

# 3. Find Maximum and Minimum Values

In [29]:
# Take input from user
numbers = list(map(int, input().split(",")))

# Initialize both max and min with first element
max_value=numbers[0]
min_value=numbers[0]

for i in numbers:

  # Check maximum value
  if i>max_value:
    max_value=i

  # Check minimum value
  if i<min_value:
    min_value=i

print("List:",numbers)
print("Max:", max_value)
print("Min:", min_value)

10,20,40,50,70
List: [10, 20, 40, 50, 70]
Max: 70
Min: 10

# 4. Count Products Above a Price Threshold

In [30]:
# Take prices as input
prices = list(map(int, input().split(",")))

# Set count to 0
count=0

for price in prices:

  # Check if price is greater than 1000
  if price>1000:
    count+=1  # Increase count if condition is true

print("Products above 1000:",count)

500,1500,700,1200,2700,300
Products above 1000: 3

# 5. Calculate Attendance Percentage

In [31]:
# Create a list representing attendance
attendance = ["P", "P", "A", "P", "P"]

# Set count to 0
count=0

for att in attendance:

  # If the student is present, increase count
  if att=="P":
    count+=1

# Calculate percentage
percentage=(count/len(attendance))*100

print("Attendance Percentage:",percentage)

Attendance Percentage: 80.0

# 6. Remove Duplicate Phone Numbers

In [32]:
# Take input from user
phone_numbers = list(map(int, input().split(",")))

# Convert list to set and print it
print("Unique phone numbers:",set(phone_numbers))

9876543210, 9123456789, 9876543210
Unique phone numbers: {9876543210, 9123456789}

# 7. Count Character Frequency

In [33]:
# Take string input from user
text=input()

# Create an empty dict to store char freqs
freq={}

for ch in text:

  # Check if char in dict, if yes increment the count
  if ch in freq:
    freq[ch]+=1

  # If char doesn't exists, add it with count 1
  else:
    freq[ch]=1

print(freq)

pythonp
{'p': 2, 'y': 1, 't': 1, 'h': 1, 'o': 1, 'n': 1}

# 8. Convert List to Tuple

In [34]:
# Take input from user
lst=list(map(int, input().split(",")))

# Convert the list into tuple
t=tuple(lst)

print("Tuple:",t)

10,20,30
Tuple: (10, 20, 30)

# 9. Check if a Key Exists in a Dictionary

In [35]:
# Create a dictionary to store employee names as keys and their salaries as values
employees={
    "Ravi": 75000,
    "Anita": 68000,
    "Kiran": 72000
}

#Take employee name as input from the user
key=input()

# Check if the name exists in the dict
if key in employees:
  print("Employee exists")
else:
  print("Employee does not exists")

Ravi
Employee exists

# 10. Calculate Average Marks

In [36]:
# Take input from user
marks=list(map(int, input().split(",")))

# Calculate average
average=sum(marks)/len(marks)

print("Average Marks:",average)

60,70,80,80
Average Marks: 72.5